.box{
    background-color: antiquewhite;
    width: 30%;
    margin: 0 auto;
    height: 80px;
    text-align: center;
    margin-top: 20px;
}

.box-title{
    display: block;
    padding-top: 25px 
}
/* 애니메이션 시작시 */
.wow-enter {
    opacity : 0 ;
  }
/* 애니메이션 동작시 */
  .wow-enter-active {
    opacity : 1 ;
    transition : all 500ms ;
  }